.new-bt {
  background: #4667bb;
  padding: 2px 4px;
  border-radius: 27px;
  border: none;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;
  font-family: 'Inter';
}
